.anasayfa_menu {
    display: inline;
    /* yan yana çıkması için */
}

.btn {
    background-color: #302046;
    color: white;
    padding: 16px 20px;
    border: none;
    width: 100%;
    opacity: 0.8;
    font-size: 16px;
}

.sign form {
    background-color: rgba(255, 255, 255, 0.3);
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px !important;
}

.anasayfa_menu a {
    display: block;
    /* sadece yazının değil dolguların da tıkllanabilir olmasını sağlar */
    color: white;
    text-align: center;
    /* texti ortalar */
    padding: 14px 16px;
    text-decoration: none;
    /* alt çizgiyi kaldırmak için */
}

.anasayfa {
    /* anasayfa divi */
    background-image: url('book.jpg');
}

.anasayfa_bolum1 {
    background-color: aqua;
}

.anasayfa_bolum1_icerik {
    background-image: url('homepagebg.png');
}

.anasayfa_bolum1_icerik_textarea {}

.anasayfa_edittext {}

.soru_textarea {}

.anasayfa_bolum2 {
    margin-top: 1%;
}

.anasayfa_bolum2_haberler {}


/*
tunahan,edin
*/

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    background-color: #f7f1e3;
    background-size: cover;
}

.ana {
    border: 1px solid black;
    margin: 0 auto;
    width: 960px;
    background: rgb(255, 255, 255);
}

* {
    padding: 0;
    border: 0;
    list-style: none;
}

body a img {
    width: 300px;
    height: 72px;
    margin-top: -35px;
}

a {
    text-decoration: none;
}

ul.menu {
    background-image: linear-gradient(to right, #eabf9c, #e6ddc5);
    margin: 30px 0px;
    height: 37px;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
}

ul.menu>li {
    float: right;
    list-style-type: none;
    position: relative;
}

ul.menu>li>a {
    color: #000;
    font-size: 14px;
    padding: 0px 15px;
    height: 37px;
    line-height: 37px;
    border-right: 0px solid rgba(0, 0, 0, .1);
}

ul.menu>li>a:hover {
    font-size: 15px;
    font-weight: bold;
}

ul.menu ul {
    background: #e6ddc5;
    width: 250px;
    position: absolute;
    top: 30px;
    left: 0;
    opacity: 0;
}

ul.menu ul li a {
    display: block;
    padding: 7px 12px;
    color: #000;
    font-size: 14px;
    border-bottom: 1px solid black;
}

ul.menu>li:hover>ul {
    transition: 400ms all;
    opacity: 1;
    visibility: visible;
    top: 40px;
}


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 3px;
}


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/*sidebar*/

#info a {
    position: absolute;
    left: -100px;
    transition: 500ms;
    padding: 15px;
    width: 120px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    border-radius: 0 5px 5px 0;
}

body,
html {
    height: 100%;
}

.hp_div4 {
    height: 20%;
}

* {
    box-sizing: border-box;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: 1px solid black;
    background: #fff;
}

.container {
    color: #b33939;
    font-size: 16px;
    font-family: 'Roboto', cursive;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    display: block;
    width: 1620px;
    height: 450px;
    background-color: #457b9d;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    font-family: 'Roboto', cursive;
}

#st-box {
    float: left;
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #f1faee;
}

#nd-box {
    float: left;
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #f1faee;
    margin-left: 350px;
}

#rd-box {
    float: right;
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #f1faee;
}

.containerTitle {
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
}

.signinContainer {
    margin: auto;
    width: 40%;
    padding: 2%;
}


/* hp */

.hp_div2 {
    overflow: hidden;
}

.hp_div2 a {
    float: right;
    color: #e55039;
    background-color: #000;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 14px;
    line-height: 15px;
}

.hp_div2 a:hover {
    background-color: #e55039;
    color: black;
    border-color: black;
    border-width: 1px;
    border-radius: 4px;
}

#hp_div5_title {
    background-image: url(back.png);
    background-repeat: no-repeat;
    background-position: 0 0.1%;
    text-align: center;
    font-size: 40px;
    font-family: 'Abril Fatface', cursive;
}